{% extends "base.html" %}
{% load babel %}
{% load bolibana %}

{% block title %}Naissance{% endblock %}
{% block submenu %}{% include "submenu.html" %}{% endblock %}

{% block content %}

<div id="context">

<h2>Les rapports mensuels des naissances</h2>
<table>
    <tr>
        <th rowspan="2"> Mois </th>
        <th colspan="8"><center>INDICATEURS</center></th>
    </tr>
    <tr>
        <td>Naissance</td>
        <td>à Domicile</td>
        <td>au Centre</td>
        <td>Ailleurs</td>
        <td>Sexe masculin</td>
        <td>Sexe feminin</td>
        <td>Né vivant</td>
        <td>Mort-né</td>
    </tr>
    {% for indicator in indicators%}
    <tr>
        <td>{{indicator.month.full_name}}</td>
        <td>{{indicator.birth}}</td>
        <td>{{indicator.residence}}</td>
        <td>{{indicator.center}}</td>
        <td>{{indicator.other}}</td>
        <td>{{indicator.male}}</td>
        <td>{{indicator.female}}</td>
        <td>{{indicator.alive}}</td>
        <td>{{indicator.stillborn}}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
