{% extends "base.html" %}
{% load babel %}
{% load bolibana %}

{% block title %}Rapports mensuels de naissances{% endblock %}
{% block submenu %}{% include "submenu.html" %}{% endblock %}

{% block content %}

<div id="context">

<h2>Rapports mensuels de naissances</h2>
<table>
    <tr>
        <th rowspan="2"> Mois </th>
        <th colspan="8" style="text-align:center">INDICATEURS</th>
    </tr>
    <tr style="text-align:center">
        <td><strong>Total naissance</strong></td>
        <td>Domicile</td>
        <td>Centre</td>
        <td>Ailleurs</td>
        <td>Sexe masculin</td>
        <td>Sexe feminin</td>
        <td>Né vivant</td>
        <td>Mort-né</td>
    </tr>
    {% for indicator in indicators%}
    <tr style="text-align:center">
        <td>{{indicator.month.full_name}}</td>
        <td><strong>{{indicator.birth}}</strong></td>
        <td>{{indicator.residence}}</td>
        <td>{{indicator.center}}</td>
        <td>{{indicator.other}}</td>
        <td>{{indicator.male}}</td>
        <td>{{indicator.female}}</td>
        <td>{{indicator.alive}}</td>
        <td>{{indicator.stillborn}}</td>
    </tr>
    {% endfor %}
</table>
</div>

{% endblock %}
