{% extends "base.html" %}
{% load babel %}
{% load bolibana %}

{% block title %}Rapports mensuels de naissances{% endblock %}
{% block submenu %}{% include "submenu.html" with submenu="credos" %}{% endblock %}

{% block jqueryonload %}
{% include "indicator_graph.js" with id='evolution' graph_type='spline' periods=periods data=evol_data %}
{% endblock %}

{% block content %}

<div class="rightbuttons"><a href="{% url export_xls_birth %}">
    <button class="formbutt download">Télécharger une version Excel du rapport</button></a>
</div>
<div id="context">

<h2>Rapports mensuels de naissances</h2>
<table class="datatable_all">
    <tr>
        <th rowspan="2"> Mois </th>
        <th colspan="8">INDICATEURS</th>
    </tr>
    <tr>
        <td><strong>Total naissance</strong></td>
        <td>Domicile</td>
        <td>Centre</td>
        <td>Ailleurs</td>
        <td>Sexe masculin</td>
        <td>Sexe feminin</td>
        <td>Né vivant</td>
        <td>Mort-né</td>
    </tr>
    {% for indicator in indicators%}
    <tr>
        <td rowspan="2">{{indicator.month.full_name}}</td>
        <td><strong>{{indicator.birth}}</strong></td>
        <td>{{indicator.residence}}</td>
        <td>{{indicator.center}}</td>
        <td>{{indicator.other}}</td>
        <td>{{indicator.male}}</td>
        <td>{{indicator.female}}</td>
        <td>{{indicator.alive}}</td>
        <td>{{indicator.stillborn}}</td>
    </tr>
    <tr>
        <td><strong>{{indicator.rate_birth}} %</strong></td>
        <td>{{indicator.rate_residence}} %</td>
        <td>{{indicator.rate_center}} %</td>
        <td>{{indicator.rate_other}} %</td>
        <td>{{indicator.rate_male}} %</td>
        <td>{{indicator.rate_female}} %</td>
        <td>{{indicator.rate_alive}} %</td>
        <td>{{indicator.rate_stillborn}} %</td>
    </tr>
    {% endfor %}
</table>
</div>

<h3 class="caption"><strong>Évolution des naissances.</strong></h3>
<div id="evolution"></div>


</div>

{% endblock %}
