{% extends "base.html" %}
{% load babel %}
{% load bolibana %}
{% block submenu %}{% include "submenu.html" with submenu="credos" %}{% endblock %}

{% block title %}Accueil credos{% endblock %}


{% block jqueryonload %}
{% include "indicator_graph.js" with id='evolution' graph_type='spline' periods=periods data=evol_data %}
{% endblock %}

{% block content %}

<div id="context">

<h2>Tableau de bord credos</h2>

<table class="datatable">
    <tr><th>Indicateur</th><th>Total</th><th>{{period.full_name}}</th></tr>

    <tr><th>Nbre de Naissances</td><td>{{total_birth}}</td><td>{{last_total_birth}}</td></tr>
    <tr><th>Nbre de Grossesses</td><td>{{total_pregnancy}}</td><td>{{last_total_pregnancy}}</td></tr>
    <tr><th>Nbre de Décès</td><td>{{total_children}}</td><td>{{last_total_children}}</td></tr>
    <tr><th>SMS reçus / envoyés</td><td>{{received}} / {{sent}}</td><td>{{last_received}} / {{last_sent}}</td></tr>

</table>

<h3 class="caption"><strong>Évolution des naissances, grossesses et décès.</strong></h3>
<div id="evolution"></div>


</div>

{% endblock %}
