{% extends "base.html" %}
{% load babel %}
{% load bolibana %}
{% block submenu %}{% include "submenu.html" with submenu="credos" %}{% endblock %}

{% block title %}Accueil credos{% endblock %}


{% block jqueryonload %}
{% include "indicator_graph.js" with id='evolution' graph_type='spline' periods=periods data=evol_data %}
{% endblock %}

{% block content %}

<div id="context">

<h2>Tableau de bord credos</h2>

<table class="datatable">
    <tr><th>Indicateur</th><th>Total</th><th>{{ period.full_name }}</th></tr>
    <tr><th> Nombre total de structure </th><td colspan="2">{{ all_credos_center }}</td></tr>
    <tr><th>SMS reçus / envoyés</th><td>{{ all_inbox }} / {{ all_sent }}</td><td>{{ last_inbox }} / {{last_sent}}</td></tr>
    <tr><th>Nombre de naissance</th><td>{{ total_birth }}</td><td>{{ last_birth }}</td></tr>
    <tr><th>Nombre de grossesse</th><td>{{ total_pregnancy }}</td><td>{{ last_pregnancy }}</td></tr>
    <tr><th>Nombre de décès infantile</th><td>{{ total_children_death }}</td><td>{{ last_children_death }}</td></tr>

</table>

<h3 class="caption"><strong>Évolution des naissances, grossesses et décès.</strong></h3>
<div id="evolution"></div>


</div>

{% endblock %}
