{% extends "base.html" %}
{% load babel %}
{% load bolibana %}

{% block title %}Deces{% endblock %}
{% block submenu %}{% include "submenu.html" %}{% endblock %}


{% block content %}

<div id="context">

<h2>Les rapports mensuels de décès</h2>
    <table>
        <tr>
            <th rowspan="2"> Mois </th>
            <th colspan="6" style="text-align:center">  INDICATEURS </th>
        </tr>
        <tr>
            <td>Décès</td>
            <td>à Domicile</td>
            <td>au Centre</td>
            <td>Ailleurs</td>
            <td>Sexe masculin</td>
            <td>Sexe feminin</td>
        </tr>
        {% for indicator in indicators%}
        <tr>
            <td>{{indicator.month.full_name}}</td>
            <td>{{indicator.ntd}}</td>
            <td>{{indicator.dd}}</td>
            <td>{{indicator.dc}}</td>
            <td>{{indicator.da}}</td>
            <td>{{indicator.sm}}</td>
            <td>{{indicator.sf}}</td>
        </tr>
        {% endfor %}
    </table>
</div>


{% endblock %}
