{% extends "base.html" %}
{% load babel %}
{% load bolibana %}

{% block title %}Rapports mensuels de décès{% endblock %}
{% block submenu %}{% include "submenu.html" with submenu="credos" %}{% endblock %}

{% block jqueryonload %}
{% include "indicator_graph.js" with id='evolution' graph_type='spline' periods=periods data=evol_data %}
{% endblock %}

{% block content %}

<div id="context">

    <h2>Rapports mensuels de décès infantile</h2>
    <table class="datatable">
        <tr>
            <th rowspan="2">Mois</th>
            <th colspan="6" style="text-align:center">INDICATEURS</th>
        </tr>
        <tr>
            <td><strong>Total décès</strong></td>
            <td>Domicile</td>
            <td>Centre</td>
            <td>Ailleurs</td>
            <td>Sexe masculin</td>
            <td>Sexe feminin</td>
        </tr>
        {% for indicator in indicators%}
        <tr>
            <td rowspan="2">{{indicator.month.full_name}}</td>
            <td><strong>{{indicator.ntd}}</strong></td>
            <td>{{indicator.dd}}</td>
            <td>{{indicator.dc}}</td>
            <td>{{indicator.da}}</td>
            <td>{{indicator.sm}}</td>
            <td>{{indicator.sf}}</td>
        </tr>
        <tr>
            <td><strong>{{indicator.rate_ntd}} %</strong></td>
            <td>{{indicator.rate_dd}} %</td>
            <td>{{indicator.rate_dc}} %</td>
            <td>{{indicator.rate_da}} %</td>
            <td>{{indicator.rate_sm}} %</td>
            <td>{{indicator.rate_sf}} %</td>
        </tr>
        {% endfor %}
    </table>
</div>

<h3 class="caption"><strong>Évolution des décès.</strong></h3>
<div id="evolution"></div>


</div>


{% endblock %}
