{% extends "base.html" %}
{% load i18n %}

{% block title %}Connexion{% endblock %}
{% block pagetitle %}<h1 class="pagetitle">Merci de vous identifier</h1>{% endblock %}

{% block content %}

{% if form.errors %}
<p>Impossible de vous identifier avec cet identifiant et ce mot de passe.</p>
{% endif %}

<h2>Bienvenue !</h2>
<p>Bienvenue dans le <strong>Système d'Information de Routine Paludisme</strong> du PNLP.</p>
<p>Ce site web est un outil de l'<accronym title="Agence Nationale de Télémédecine et d'Informatique Médicale">ANTIM</accronym>, permettant la saisie et la consultation des informations relatives au programme du <accronym title="Fonds de Nations Unies pour la Population">FNUAP</accronym>.</p>
<p>L'accès à cet outil est limité aux partenaires du programme.</p>
<p>Vous trouverez plus d'informations dans la section <a href="{% url about %}">à propos</a>.</p>

<form method="post" action="{% url login %}">
{% csrf_token %}
<table>
<tr><th>Identifiant</th><td>{{ form.username }}</td>
</tr>
<tr><th>Mot de passe</th><td>{{ form.password }}</td></tr>
</table>
<input type="hidden" name="next" value="{{ next }}" />
<button class="formbutt default">S'identifier</button>
</form>

<p>Si vous souhaitez obtenir un accès ou que vous avez perdu vos identifiants, contactez le <a href="{% url support %}">support technique</a>.</p>

{% endblock %}
