{% extends "base.html" %}
{% load babel %}
{% load bolibana %}
{% load unfpa %}

{% block jqueryonload %}
addJQEventReportTypeChange();
addJQEventReportPeriodChange("{% url unfpa_reports 'commodities' 'weekly' '01-2010' %}");
{% endblock %}

{% block title %}Rapport mensuel des produits{% endblock %}
{% block submenu %}{% include "submenu.html" with submenu="unfpa" %}{% endblock %}

{% block content %}
{% include "period_nav.html" %}

<h2>Rapport mensuel de {{ period.middle|datefmt:"MMMM YYYY" }}.</h2>

<table>
    <tr><th>Indicateur</th><th>Nombre de centres</th></tr>

    <tr><td>Centres proposant le planning familial</td><td>{{ fp_services.0 }}</td></tr>
    <tr><td>Centres pratiquant les accouchements</td><td>{{ delivery_services.0 }}</td></tr>
    <tr><td>Centres proposant le P.F et les accouchements</td><td>{{ both_services.0 }}</td></tr>
    <tr><td>Centres en rupture de méthodes de PF indiv.</td><td>{{ fp_stockout.0 }}</td></tr>
    <tr><td>Centres offrants au moins 3 méthodes de P.F</td><td>{{ atleast_3methods.0 }} ({{ atleast_3methods.1|percent}})</td></tr>
    <tr><td>Centres en rupture d'Oxytocine et de sulphate de magnésium</td><td>{{ otoxycin_magnesium_stockout.0 }}</td></tr>
</table>

<h2>Centre en ruptures de stock de méthodes de planification familiale</h2>
<table>
    <tr><th>Centre</th><th colspan="2">Préservatif masculin</th><th colspan="2">Préservatif féminin</th><th colspan="2">Contraceptifs oraux</th><th colspan="2">Injection</th><th colspan="2">D.I.U</th><th colspan="2">Implants</th><th colspan="2">Stérilisation féminine</th><th colspan="2">Stérilisation masculine</th></tr>
    {% for disdata in all_stock_outs %}
            <tr><td><strong>{{ disdata.district.name }}/{{ disdata.nb_centers }}</strong></td>
            <td>{{ disdata.stock_outs.male_condom.0 }}</td><td>{{ disdata.stock_outs.male_condom.1|percent }}</td>
            <td>{{ disdata.stock_outs.female_condom.0 }}</td><td>{{ disdata.stock_outs.female_condom.1|percent }}</td>
            <td>{{ disdata.stock_outs.oral_pills.0 }}</td><td>{{ disdata.stock_outs.oral_pills.1|percent }}</td>
            <td>{{ disdata.stock_outs.injectable.0 }}</td><td>{{ disdata.stock_outs.injectable.1|percent }}</td>
            <td>{{ disdata.stock_outs.iud.0 }}</td><td>{{ disdata.stock_outs.iud.1|percent }}</td>
            <td>{{ disdata.stock_outs.implants.0 }}</td><td>{{ disdata.stock_outs.implants.1|percent }}</td>
            <td>{{ disdata.stock_outs.female_sterilization.0 }}</td><td>{{ disdata.stock_outs.female_sterilization.1|percent }}</td>
            <td>{{ disdata.stock_outs.male_sterilization.0 }}</td><td>{{ disdata.stock_outs.male_sterilization.1|percent }}</td></tr>
            {% for report in disdata.reports %}
            <tr><td>{{ report.entity.name }}<br />{{ report.entity.type }}</td>
            <td colspan="2">{{ report.male_condom|yesnostock }}</td>
            <td colspan="2">{{ report.female_condom|yesnostock }}</td>
            <td colspan="2">{{ report.oral_pills|yesnostock }}</td>
            <td colspan="2">{{ report.injectable|yesnostock }}</td>
            <td colspan="2">{{ report.iud|yesnostock }}</td>
            <td colspan="2">{{ report.implants|yesnostock }}</td>
            <td colspan="2">{{ report.female_sterilization|yesnostock }}</td>
            <td colspan="2">{{ report.male_sterilization|yesnostock }}</td>
        </tr>
            {% endfor %}
    {% endfor %}
</table>

<h2>Centre en ruptures de stock d'Oxytocine et de Magnesium</h2>
<table>
    <tr><th>Centre</th><th colspan="2">Sulphate de Magnésium</th><th colspan="2">Oxytocine</th></tr>
    {% for disdata in all_stock_outs %}
            <tr>
            <td><strong>{{ disdata.district.name }}/{{ disdata.nb_centers }}</strong></td>
            <td>{{ disdata.stock_outs.magnesium_sulfate.0 }}</td>
            <td>{{ disdata.stock_outs.magnesium_sulfate.1|percent }}</td>
            <td>{{ disdata.stock_outs.oxytocine.0 }}</td>
            <td>{{ disdata.stock_outs.oxytocine.1|percent }}</td>
            </tr>
            {% for report in disdata.reports %}
            <tr><td>{{ report.entity.name }}<br />{{ report.entity.type }}</td>
            <td colspan="2">{{ report.magnesium_sulfate|yesnostock }}</td>
            <td colspan="2">{{ report.oxytocine|yesnostock }}</td></tr>
            {% endfor %}
    {% endfor %}
</table>
{% endblock %}
