{% extends "base.html" %}
{% load babel %}
{% load bolibana %}
{% load unfpa %}

{% block jqueryonload %}
addJQEventReportTypeChange();
addJQEventReportPeriodChange("{% url unfpa_reports 'commodities' 'weekly' '01-2010' %}");
{% endblock %}

{% block title %}Rapport mensuel des produits{% endblock %}
{% block submenu %}{% include "submenu.html" with submenu="unfpa" %}{% endblock %}

{% block content %}
{% include "period_nav.html" %}
<script type="text/javascript">
function toggleme(ty) {
    $('.show_' + ty).toggle();
    alert(slug);
}
</script>

<h2>Rapport mensuel de {{ period.middle|datefmt:"MMMM YYYY" }}.</h2>

<table>
    <tr><th>Indicateur</th><th>Nombre de centres</th></tr>

    <tr><td onclick="javascript:toggleme('fp_services');">Centres proposant le planning familial</td><td>{{ fp_services.0}}</td></tr>
    {% for entity in fp_services.1 %}
        <tr style="display: none;" class="show_fp_services"><td colspan="2">{{ entity.entity }}</td></tr>
    {% endfor %}
    <tr><td onclick="javascript:toggleme('delivery_services');">Centres pratiquant les accouchements</td><td>{{ delivery_services.0 }}</td></tr>
    {% for entity in delivery_services.1 %}
        <tr style="display: none;" class="show_delivery_services"><td colspan="2">{{ entity.entity }}</td></tr>
    {% endfor %}
    <tr><td onclick="javascript:toggleme('both_services');">Centres proposant le P.F et les accouchements</td><td>{{ both_services.0 }}</td></tr>
    {% for entity in both_services.1 %}
        <tr style="display: none;" class="show_both_services"><td colspan="2">{{ entity.entity }}</td></tr>
    {% endfor %}
    <tr><td onclick="javascript:toggleme('fp_stockout');">Centres en rupture de méthodes de PF indiv.</td><td>{{ fp_stockout.0 }}</td></tr>
    {% for entity in fp_stockout.1 %}
        <tr style="display: none;" class="show_fp_stockout"><td colspan="2">{{ entity.entity }}</td></tr>
    {% endfor %}
    <tr><td>Centres offrants au moins 3 méthodes de P.F</td><td>{{ atleast_3methods.0 }} ({{ atleast_3methods.1|percent }})</td></tr>
    <tr><td onclick="javascript:toggleme('otoxycin_magnesium_stockout');">Centres en rupture d'Oxytocine et de sulphate de magnésium</td><td>{{ otoxycin_magnesium_stockout.0 }}</td></tr>
    {% for entity in otoxycin_magnesium_stockout.1 %}
        <tr style="display: none;" class="show_otoxycin_magnesium_stockout"><td colspan="2">{{ entity.entity }}</td></tr>
    {% endfor %}
</table>

<h2>Centre en ruptures de stock de méthodes de planification familiale</h2>
<table>
    <tr><th>Centre</th><th colspan="2" title='Préservatif masculin'>P.M.</th><th colspan="2" title='Préservatif féminin'>P.F. </th><th colspan="2" title='Contraceptifs oraux'>C.O.</th><th colspan="2"title='Injection'>IJ</th><th colspan="2">D.I.U</th><th colspan="2" title='Implants'>Implants</th><th colspan="2"title='Stérilisation féminine'>S.F.</th><th colspan="2" title='Stérilisation masculine'>S.M.</th></tr>
    {% for disdata in all_stock_outs %}
            <tr><td><strong>{{ disdata.district.name }}/{{ disdata.nb_centers }}</strong></td>
            <td>{{ disdata.stock_outs.male_condom.0 }}</td><td>{{ disdata.stock_outs.male_condom.1|percent }}</td>
            <td>{{ disdata.stock_outs.female_condom.0 }}</td><td>{{ disdata.stock_outs.female_condom.1|percent }}</td>
            <td>{{ disdata.stock_outs.oral_pills.0 }}</td><td>{{ disdata.stock_outs.oral_pills.1|percent }}</td>
            <td>{{ disdata.stock_outs.injectable.0 }}</td><td>{{ disdata.stock_outs.injectable.1|percent }}</td>
            <td>{{ disdata.stock_outs.iud.0 }}</td><td>{{ disdata.stock_outs.iud.1|percent }}</td>
            <td>{{ disdata.stock_outs.implants.0 }}</td><td>{{ disdata.stock_outs.implants.1|percent }}</td>
            <td>{{ disdata.stock_outs.female_sterilization.0 }}</td><td>{{ disdata.stock_outs.female_sterilization.1|percent }}</td>
            <td>{{ disdata.stock_outs.male_sterilization.0 }}</td><td>{{ disdata.stock_outs.male_sterilization.1|percent }}</td></tr>
            {% for report in disdata.reports %}
            <tr><td>{{ report.entity.name }}<br />{{ report.entity.type }}</td>
            <td colspan="2">{{ report.male_condom|yesnostock }}</td>
            <td colspan="2">{{ report.female_condom|yesnostock }}</td>
            <td colspan="2">{{ report.oral_pills|yesnostock }}</td>
            <td colspan="2">{{ report.injectable|yesnostock }}</td>
            <td colspan="2">{{ report.iud|yesnostock }}</td>
            <td colspan="2">{{ report.implants|yesnostock }}</td>
            <td colspan="2">{{ report.female_sterilization|yesnostock }}</td>
            <td colspan="2">{{ report.male_sterilization|yesnostock }}</td>
        </tr>
            {% endfor %}
    {% endfor %}
</table>

<h2>Centre en ruptures de stock d'Oxytocine et de Magnesium</h2>
<table>
    <tr><th>Centre</th><th colspan="2">Sulphate de Magnésium</th><th colspan="2">Oxytocine</th></tr>
    {% for disdata in all_stock_outs %}
            <tr>
            <td><strong>{{ disdata.district.name }}/{{ disdata.nb_centers }}</strong></td>
            <td>{{ disdata.stock_outs.magnesium_sulfate.0 }}</td>
            <td>{{ disdata.stock_outs.magnesium_sulfate.1|percent }}</td>
            <td>{{ disdata.stock_outs.oxytocine.0 }}</td>
            <td>{{ disdata.stock_outs.oxytocine.1|percent }}</td>
            </tr>
            {% for report in disdata.reports %}
            <tr><td>{{ report.entity.name }}<br />{{ report.entity.type }}</td>
            <td colspan="2">{{ report.magnesium_sulfate|yesnostock }}</td>
            <td colspan="2">{{ report.oxytocine|yesnostock }}</td></tr>
            {% endfor %}
    {% endfor %}
</table>
{% endblock %}
