{% extends "base.html" %}
{% load babel %}
{% load bolibana %}

{% block title %}Grosesse{% endblock %}
{% block submenu %}{% include "submenu.html" %}{% endblock %}


{% block content %}

<div id="context">

<h2>Indicateurs {{eg}}</h2>
    <table>
        <tr>
            <th rowspan="2"> Mois </th>
            <th colspan="5" style="text-align:center"> INDICATEURS </th>
        </tr>
        <tr>
            <td>Nbre total de femmes enceintes</td>
            <td>Nbre total d'accouchement enregistrés</td>
            <td>Nbre total de grossesses interrompues</td>
            <td>Nbre total de grossesses avec enfants vivants</td>
            <td>Nbre total avec morts nées</td>
        </tr>
        {% for indicator in indicators%}
        <tr>
            <td>{{indicator.month.full_name}}</td>
            <td>{{indicator.fe}}</td>
            <td>{{indicator.ae}}</td>
            <td>{{indicator.gi}}</td>
            <td>{{indicator.av}}</td>
            <td>{{indicator.mn}}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
