<div id="submenu" style="padding-top:0; padding-bottom: 0;">

{% if submenu = 'credos' %} 
  <p  class="transmissionsub"> <a {% if category = 'birth' %} class="hover"{% endif %} href="{% url birth %}"> Naissance</a>
   <a href="{% url pregnancy %}">Grossesse</a>
   <a {% if category = 'death' %} class="hover"{% endif %}  href="{% url death %}">décès</a>
    </p>
{% endif %}

{% if submenu = 'unfpa' %}
    <p class="transmissionsub">
        <a href="{% url unfpa_dashboard %}">Dashboard</a>
        <a href="{% url unfpa_reports 'children' 'monthly' last_period %}">Mortialité infantile</a>
        <a href="{% url unfpa_reports 'maternal' 'monthly' last_period %}">Mortalité maternelle</a>
        <a href="{% url unfpa_reports 'commodities' 'monthly' last_period %}">Dispo. produits</a>
    </p>
{% endif %}

</div>