{% extends "base.html" %}
{% load babel %}
{% load bolibana %}
{% block submenu %}{% include "submenu.html" with submenu="unfpa" %}{% endblock %}

{% block title %}Accueil unfpa{% endblock %}

{% block jqueryonload %}
{% include "indicator_graph.js" with id='evolution' graph_type='spline' periods=periods data=evol_data %}
{% endblock %}

{% block content %}

<div id="context">

<h2>Tableau de bord FNUAP</h2>

<table class="datatable">
    <tr><th>Indicateurs</th><th>Total</th><th>{{ period.full_name }}</th></tr>
    <tr><th> Nombre total de structure </th><td colspan="2">{{ all_unfpa_center }}</td></tr>
    <tr><th>SMS reçus / envoyés</th><td>{{ all_inbox }} / {{ all_sent }}</td><td>{{ last_inbox }} / {{ last_sent }}</td></tr>
    <tr><th>Nombre de decès infantile</th><td>{{ total_children_death }}</td><td>{{ last_children_death }}</td><tr>
    <tr><th>Nombre de decès de femmes enceintes</th><td>{{ total_maternal_death }}</td><td>{{ last_maternal_death }}</td></tr>
    <tr><th>Nombre de centre en rupture d'au moins trois produits</th><td>{{ total_3methods_out }}</td><td>{{ last_3methods_out }}</td></tr>
</table>

<h3 class="caption"><strong>Évolution de la mortalité.</strong></h3>
<div id="evolution"></div>

</div>

{% endblock %}
