{% extends "base.html" %}
{% load babel %}
{% load bolibana %}
{% block submenu %}{% include "submenu.html" with submenu="unfpa" %}{% endblock %}

{% block title %}Accueil unfpa{% endblock %}


{% block content %}

<div id="context">

<h2>Tableau de bord FNUAP</h2>
<p>Bienvenue.</p>
<p>Ce tableau de bord vous donne un aperçu de l'état d'avancement de la collecte et de la transmission des données.</p>
    <table class="datatable">
        <tr><th>Indicateurs</th><th>Total</th><th>Juin</th></tr>
        <tr><td> Nombre total de structure </td><td>220</td><td>22</td></tr>
        <tr><td>TOTAL SMS REÇUS / ENVOYÉS</td><td>25 / 200</td><td>22 / 200</td></tr>
        <tr><td>SMS REÇUS / ENVOYÉS EN JUIN 2012</td><td>40 / 512</td><td>25 / 510</td></tr>
        <tr><td>Nombre decès enfant </td><td>63</td><td>60</td><tr>
        <tr><td>Nombre decès femme enceints</td><td>88</td><td>88</td></tr>
        <tr><td>Nombre de centre en rupture d'au moins trois produits</td><td>50</td><td>20</td></tr>
    </table>
</div>

{% endblock %}
