{% extends "base.html" %}
{% load babel %}
{% load bolibana %}

{% block jqueryonload %}
addJQEventReportTypeChange();
addJQEventReportPeriodChange("{% url unfpa_reports 'children' 'weekly' '01-2010' %}");
{% endblock %}


{% block submenu %}{% include "submenu.html" with submenu="unfpa" %}{% endblock %}

{% block title %}Rapport de décès {% ifequal type "weekly" %}hebdomadaire{% else %}mensuel{% endifequal %} concernant les enfants de moins de 5ans{% endblock %}

{% block content %}
{% include "period_nav.html" %}

<h2>Rapport {% ifequal type "weekly" %}hebdomadaire{% else %}mensuel{% endifequal %} du {{ period.start_on|datefmt:"dd MMMM" }} au {{ period.end_on|datefmt:"dd MMMM yyyy" }}.</h2>

<table class="datatable">
<tr><th>District</th><th>Nombre de décès</th></tr>
{% for disdata in data %}
<tr><td>{{ disdata.district }}</td><td>{{ disdata.deaths }}</td></tr>
{% endfor %}
</table>
{% endblock %}
